.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #00AA89;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #DDE0DD;
  margin-top: 12px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #DDE0DD;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #DDE0DD;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #00AA89;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mt-20px{
  margin-top: 20px;
}
.mt-40px{
  margin-top: 40px;
}
.mt-80px{
  margin-top: 80px;
}

.mt-50px{
  margin-top: 50px;
}
.mt-100px{
  margin-top: 100px;
}
.mb-10px{
  margin-bottom: 10px;
}
.mb-20px{
  margin-bottom: 20px;
}
.mb-60px{
  margin-bottom: 60px;
}
.mb-80px{
  margin-bottom: 80px;
}


.checked{
  position: relative;
  margin-right: 22px;
}
.checked:after{
  left: 2px;
  top: 1px;
  width: 8px;
  height: 15px;
  border: solid #00AA89;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: inline-block;
}

#wheel-container{
  position: relative;
  width: 703px;
  height: 703px;
  /* width: 100%;
  height: 100%; */
  margin: 0 auto;
}
.wheel{
  position: absolute;
  top: 0;
}
.wheel-fixed-text{
  position: absolute;
  top: 0;
  pointer-events: none;
}

@media(max-width: 1300px){
  .panel.active{
    grid-template-columns: 1fr;
  }
}

@media(max-width: 1023px){
  #kompas-form.active {
    flex-direction: column;
  }
  #kompas-sidebar {
    max-width: 100%;
  }
  #kompas-main {
    max-width: 100%;
    width: 100%;
  }
  .panel.active{
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 850px){
  .panel.active{
    grid-template-columns: 1fr;
  }
  #kompas-sidebar .main-content{
    padding-left: 10px;
    padding-right: 10px;
  }
  #kompas-main {
    padding-left: 0px;
    max-width: 100%;
  }
  #kompas-form.flex {
    padding: 0 10px;
    max-width: calc(100vw - 20px);
  }
}