.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #00AA89;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

/* Customize the label (the container) */
#kompas .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
#kompas .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
#kompas .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #DDE0DD;
  margin-top: 12px;
}

/* On mouse-over, add a grey background color */
#kompas .checkbox-container:hover input ~ .checkmark {
  background-color: #DDE0DD;
}

/* When the checkbox is checked, add a blue background */
#kompas .checkbox-container input:checked ~ .checkmark {
  background-color: #DDE0DD;
}

/* Create the checkmark/indicator (hidden when not checked) */
#kompas .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#kompas .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#kompas .checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #00AA89;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mt-20px{
  margin-top: 20px;
}
.mt-40px{
  margin-top: 40px;
}
.mt-80px{
  margin-top: 80px;
}

.mt-50px{
  margin-top: 50px;
}
.mt-100px{
  margin-top: 100px;
}
.mb-10px{
  margin-bottom: 10px;
}
.mb-20px{
  margin-bottom: 20px;
}
.mb-60px{
  margin-bottom: 60px;
}
.mb-80px{
  margin-bottom: 80px;
}

#kompas-form.flex{
  padding: 0 40px;
  margin-bottom: 50px;
  width: 100%;
  max-width: calc(100vw - 80px);
}
#kompas h4{
  font-family: Montserrat,sans-serif;
  color: #00A3DA;
  font-size: 15px;
  line-height: 1.5rem;
  /* color: #009fe3; */
  font-weight: 600;
}
#kompas-sidebar{
  max-width: 430px;
  width: 100%;
}

#kompas .bg-grey.boxed{
  background-color: #DDE0DD;
  max-width: 380px;
  height: 100px;

  position: relative;
}
#kompas .boxed .img-target{
  position: absolute;
  top: 10px;
  left: 10px;
}
#kompas .bg-grey.boxed .row-content{
  font-size: 13px;
  font-weight: 600;
  padding: 25px 40px 10px 110px;
}
#kompas .img-zone{
  position: absolute;
  right: -43px;
  top: -37px;
}
#kompas-sidebar .main-content{
  padding-left: 0px;
  padding-right: 40px;
  font-size: 14px;
}

#kompas-main{
  /* padding-left: 30px;
  max-width: calc(100% - 430px); */
}
#kompas .row-tabs{
  padding-bottom: 40px;
  position: relative;

  overflow: hidden;
  overflow-x: auto;
}
#kompas .dotted-line{
  width: 100%;
  height: 5px;
  background-repeat:repeat-x;
}

#kompas .row-tabs ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
#kompas .row-tabs li{
  display: inline-block;
  flex: 1;
}
#kompas .row-tabs li a{
  color: #FFFFFF;
  padding: 10px;
  font-size: 12px;
  line-height: 17px;
  margin-right: 10px;
  font-weight: 600;
  position: relative;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
}
#kompas .row-tabs li a:hover{
  background-color: #DDE0DD !important;
  color: #0a0a0a;
}
#kompas .row-tabs li a:hover:before{
  border-color: #DDE0DD transparent transparent transparent !important;
}
#kompas .row-tabs  li a.active:before{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 14px 0 14px;
  left: 50%;
  margin-left: -20px;
  bottom: -30px;
}

#kompas .panel .flex{
  display: flex;
}
#kompas .panel {
  display: none;
}
#kompas .panel.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#kompas .panel .column{
  font-size: 12px;
}
#kompas .panel .column .icon{
  width: 45px;
}
#kompas .panel .column .icon img{
  width: 100%;
}
#kompas .panel .column .col-3{
  padding-left: 10px;
  width: calc(100% - 100px);
}

#kompas .trigger{
  position: relative;
  display: block;
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 50px;
}
#kompas .trigger.top{
  margin-left: auto;
  margin-right: 20px;
}
#kompas .trigger:before{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 20px;
  border-color: transparent transparent transparent #00AA89;
  left: -35px;
  top: 8px;
}

#loading{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}
#loading.active{
  display: flex;
}

#form-msg{
  color: #ff0000;
  text-align: right;
  margin-right: 25px;
  margin-top: 10px;
}

#kompas-form,
#kompas #download{
  display: none;
  padding: 0 40px;
  margin-bottom: 50px;
  width: 100%;
  max-width: calc(100vw - 80px);
}
#kompas-form.active,
#kompas #download.active{
  display: block;
}
#kompas #download.active{
  background: rgba(0,0,0,0.1);
  padding: 50px 30px;
  min-height: 300px;
}
#kompas-form.active{
  display: flex;
}

.content-msg{
  display: block;
  margin: 0 auto;
  width: 600px;
  min-height: 500px;
}
#download-link{
  text-decoration: underline;
  font-weight: 600;
}

#kompas .checked{
  position: relative;
  margin-right: 22px;
}
#kompas .checked:after{
  left: 2px;
  top: 1px;
  width: 8px;
  height: 15px;
  border: solid #00AA89;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: inline-block;
}


@media(max-width: 1300px){
  #kompas-form .panel.active{
    grid-template-columns: 1fr;
  }
}

@media(max-width: 1023px){
  #kompas-form.active {
    flex-direction: column;
  }
  #kompas-sidebar {
    max-width: 100%;
  }
  #kompas-main {
    max-width: 100%;
    width: 100%;
  }
  #kompas-form .panel.active{
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 850px){
  #kompas-form .panel.active{
    grid-template-columns: 1fr;
  }
  #kompas-sidebar .main-content{
    padding-left: 10px;
    padding-right: 10px;
  }
  #kompas-main {
    padding-left: 0px;
    max-width: 100%;
  }
  #kompas-form.flex {
    padding: 0;
    max-width: calc(100vw - 20px);
  }
}

.w-full{
  width: 100%;
}
#kompas-form #panel-0.active{
  display: flex;
  padding-bottom: 20px;

  font-size: 14px;
}
#kompas-form .column-left{
  min-width: 140px;
}
#kompas-form .column-middle, #kompas-form .column-right{
  width: calc(100% - 80px);
}
@media(max-width: 769px){
  #kompas-form .column-left {
    display: none;
  }
  #kompas-form #panel-0.active .flex{
    flex-direction: column;
  }
}

@media(min-width: 768px){
  #kompas-form .column-middle, #kompas-form .column-right{
    width: calc(50% - 80px);
  }
  #kompas-form .column-right{
    border-left: 1px solid #738489;
  }
}

#kompas-form .column-middle{
  padding-left: 15px;
  padding-right: 15px;
}
#kompas-form .column-right{
  padding-left: 15px;
  padding-right: 15px;
}
#kompas-main #panel-0 h2{
  color:#00AA89;
}